.call {
    padding-top: 76px;
    padding-bottom: 76px;
    background-color: $color-7e;
    background-image: url('../img/Group\ 8\ \(2\).svg');
    background-repeat: no-repeat;
    background-position: bottom left -1.5rem;
    background-size: 20rem 12.2rem;

    .container {
        @include FlexCentur;
        max-width: 91.7rem;

        @include respond (tablet-uchun) {
            padding-left: 9.7rem;
            padding-right: 9.8rem;
        }

        @include respond (telefonlar-uchun) {
            flex-direction: column;
            padding-left: 2.4rem;
            padding-right: 2.4rem;

        }
    }

    &--p {
        font-weight: bold;
        font-size: 4.8rem;
        line-height: 4.8rem;
        color: #012F34;

        @include respond (tablet-uchun) {
            font-style: normal;
            font-weight: bold;
            font-size: 3.2rem;
            line-height: 3.2rem;
        }

        @include respond (telefonlar-uchun) {
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 2.4rem;
            text-align: center;
        }

    }
}